<%- include('./partials/header.ejs') %>
<section id="Blog">
    <div class="vertical-space-100"> </div>
    <div class="vertical-space-101"> </div>
    <div class="container">
    <h3>Our Latest Blog Posts</h3>
    <div class="vertical-space-20"></div>
    <p>Welcome to our blog. Please engage in the reads as they are meant to be highly educative. Get in touch with us for adverts or donations.</p>
    <div class="vertical-space-50"></div>
    <div class="row">
    <% posts.data.forEach(post=>{ %>
    <div class="col-lg-4 col-md-6">
        <% if(post.imgUrl){ %>
            <img src="imags/blog2.jpg" class="blog-image" alt="">
        <%}else{%>
            <img src="imags/blog2.jpg" class="blog-image" alt="">
        <%}%>
        <div class="blog-box">
        <a href="/blog-<%= post._id %>" class="font-color-black font-size"><%= post.title %></a>
        <p class="float-left font-color-black width"><a href="#" class="font-color-black font-size-14"><%= post.datePosted.toUTCString() %></a> | <a href="#" class="font-color-black font-size-14"><%= post.estimatedReadTime %> min read</a></p>
        <p class="space10"><%= post.content.slice(0,65) %> </p>
        <div class="vertical-space-20"></div>
        <div class="row">
        <a href="/blog-<%= post._id %>" class="font-color-orange font-bold">Read more<i class="fa fa-long-arrow-right"></i></a>
       
        </div>
        </div>
        </div>
        <% })%>

    <div class="vertical-space-25"></div>
    <div class="job-list">
        <ul class="pagination justify-content-end margin-auto">
            <% if(posts.pageNumber===1 ){%>
            <li class="page-item ">
                <a class="page-link d-flex  pl-2" >
                    <i class="fa fa-chevron-left"></i> 
                    <i class="fa fa-chevron-left pr-4"></i>
                </a></li>
            <li class="page-item"><a class="page-link " ><i class="fa fa-chevron-left"></i></a></li>
            <%}else{%>
                <li class="page-item ">
                    <a class="page-link d-flex  pl-2" href="/joblist-1-0">
                        <i class="fa fa-chevron-left"></i> 
                        <i class="fa fa-chevron-left pr-4"></i>
                    </a></li>
                <li class="page-item"><a class="page-link " href=" /joblist-<%=posts.pageNumber-1 %>-<%=(posts.data.length)*(posts.pageNumber-1)-posts.data.length %> "><i class="fa fa-chevron-left"></i></a></li>
            <%}%>
        <% for(let i=posts.pageNumber; i<=posts.totalPagesCount; i++){%>
            
            <% if(i  < 3+posts.pageNumber ){%>
    
            <% if(posts.pageNumber === i){%>
                <li class="page-item"><a class="page-link active" ><%=i %></a></li>
            <%}else {%>
                <li class="page-item"><a class="page-link " href="/joblist-<%=i %>-<%= (posts.data.length * i) -posts.data.length
                    %>"><%=i %></a></li>
            <%}%>
            <%}%>
        
        <%}%>
        <% if(posts.pageNumber===posts.totalPagesCount ){%>
        <li class="page-item"><a class="page-link" ><i class="fa fa-chevron-right"></i></a></li>
        <li class="page-item  ">
            <a class="page-link d-flex pl-2" >
                <i class="fa fa-chevron-right "></i> 
                <i class="fa fa-chevron-right  pr-4"></i>
            </a></li>
    
        <%}else{%>
            <li class="page-item"><a class="page-link" href="/joblist-<%=posts.pageNumber+1 %>-<%= (posts.start+posts.data.length) %>"><i class="fa fa-chevron-right"></i></a></li>
            <li class="page-item  ">
                <a class="page-link d-flex pl-2" href="/joblist-<%=posts.totalPagesCount%>-<%=endStart%>">
                    <i class="fa fa-chevron-right "></i> 
                    <i class="fa fa-chevron-right  pr-4"></i>
                </a></li>
        <%}%>
        </ul>
    </div>
    </div>
    </div>
    <div class="vertical-space-60"> </div>
    </section>

<%- include('./partials/footer.ejs') %>