<%- include('./partials/header.ejs') %>
<section id="intro">
    <div class="carousel-item active">
    <div class="carousel-background"><img src="imags/slider/slider1.jpg" alt=""></div>
    <div class="carousel-container">
    <div class="carousel-content">
    <h2 class="font-color-white">Blog Result</h2>
    <p class="font-color-white width-100"><a href="/" class="font-color-white">Home /</a><a href="/bloglist" class="font-color-white"> Blog </a>/ Details
    </p>
    </div>
    </div>
    </div>
    </section>
    
    
    <section id="job-Details">
    <div class="container background-color-full-white job-Details">
    <div class="Exclusive-Product">
    <h3><%= post.title %></h3>
    <h6 class="font-color-orange">By <%= post.author.alias %></h6>
    <i class="material-icons"><%= post.estimatedReadTime %> mins estimated read time.</i> <br/>
    <span class="text">Posted on <%= post.datePosted.toUTCString() %></span>
    <% if(auth && (auth.username===post.author.username  ||auth.isRoot||auth.isAdmin)){ %>
      <a  href="edi-blog-pos-<%= post._id %>" class="nav-link my-3 mx-3  btn background-color-orange text-white"><i class="fa fa-edit fa-2x"> Edit</i> </a>
          <a data-toggle="modal" data-target="#myModal"  class="nav-link my-3 mx-3 btn btn-danger text-white"><i class="fa fa-trash fa-2x"> </i> </a>
      <%}%>
    </div>
    <% if(post.imgUrl){ %>
        <img src="<%= post.imgUrl %>" class="job-detail-img" alt="">
    <%}else{%>
        <img src="imags/blog2.jpg" class="job-detail-img" alt="">
    <%}%>
    <div class="vertical-space-20"></div>
    <p class="container h4" ><%= post.content %></p>
    </div>
    </section>
    <section id="comment" class="background-color-full-white-light">
    <div class="container">
    <div class="max-width-80">
    <h4>comment</h4>
    <a href="#" class="Share">Share</a>
    <% post.comments.forEach(com => { %>
        <div class="media border p-3 ">
            <% if(auth && auth.imgurl ){ %> 
                <img src="<%= imgurl %> " alt=""
                class="mr-3 rounded-circle imagess" style="width:60px;" />
                 <%}else{%> 
                    <% if(auth && auth.gender==="male" ){ %> 
                      <span class="samp">
    
                        <img src="/imags/male-pic.jpg"  alt="
                        kkk" class="mr-3 rounded-circle imagess " style="width:60px;" /> 
                      </span>
                      <%}else{%>
                        <span class="samp">
                          <img src="/imags/female-pic.jpg"  alt="
                          kkk" class="mr-3 rounded-circle imagess " style="width:60px;" /> 
                        </span>
                  <%}%>
                <%}%>
            <div class="media-body">
            <h6><%= com.author %></h6>
            <p><%= com.content %></p>
            </div>
            </div>
    <%} )%>
    </div>
    </div>
    <% if(auth){ %>
    <div class="media border p-3 padding-none border-none">
        <% if(auth.imgurl ){ %> 
            <img src="<%= imgurl %> " alt=""
            class="mr-3 rounded-circle imagess" style="width:60px;" />
             <%}else{%> 
                <% if(auth.gender==="male" ){ %> 
                  <span class="samp">

                    <img src="/imags/male-pic.jpg"  alt="
                    kkk" class="mr-3 rounded-circle imagess " style="width:60px;" /> 
                  </span>
                  <%}else{%>
                    <span class="samp">
                      <img src="/imags/female-pic.jpg"  alt="
                      kkk" class="mr-3 rounded-circle imagess " style="width:60px;" /> 
                    </span>
              <%}%>
            <%}%>
        <div class="medi
    <div class="media-body">
    <form  action="/update/user" method="POST">
    <textarea name="content" placeholder="Type comment" required></textarea>
    <button type="submit" class="Post">Post</button>
    <input type="hidden" name="type" value="add-comment">
    <input type="hidden" name="id" value="<%= post._id %>">
    </form>
    <%}%>
    </div>
    </div>

    </div>
    </div>
    <div
    class="modal fade"
    id="myModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header"></div>
        <div class="modal-body">
          <div class="h6 text-center">
            Are you sure you want to delete this item? 
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-primary"
            data-dismiss="modal"
          >
            No
          </button>
          <a
            type="button"
            href="del-blog-pos-<%= post._id %>"
            class="btn btn-danger text-white"
            >Yes</a
          >
        </div>
      </div>
    </div>
  </div>
    </section>
<%- include('./partials/footer.ejs') %>
