<%- include('partials/header') %>

<div class="container mt-5 register">
  <h1>Join Our Community</h1>
  <div class="row">
    <div class="col-sm-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <% if(err){%>
            <div class=" py-3 mb-1 text-center text-orange">
              <b><%= err %></b>
            </div>
            <%}%>
          <form action="/register" method="POST">
                       <div class="form-group">
              <label for="alias">Username</label>
              <input type="text" class="form-control" name="alias" />
            </div>
            <div class="form-group">
              <label for="username">Email</label>
              <input type="email" class="form-control" name="username" />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input
                type="password"
                class="form-control"
                name="password"
                minlength="6"
              />
            </div>

            <div class="form-group">
              <label for="phone">Phone</label>
              <input class="form-control" type="text" name="phone">
            </div>
              <div class="form-group">
                <label for="gender">Gender</label>
                <select class="form-control form-select" name="gender" id="gender">
                  <option class="option-item" value="male" selected>Male</option>
                  <option class="option-item" value="female">Female</option>
                </select>
              </div>
              <div class="form-group">
                <label for="education">Highest Level of Education</label>
                <select class="form-control form-select" name="education" id="education">
                  <option class="option-item" value="ssce" selected>SSCE</option>
                  <option class="option-item" value="ond">OND</option>
                  <option class="option-item" value="hnd">HND</option>
                  <option class="option-item" value="bsc">Bachelors (Bsc / Bed) </option>
                  <option class="option-item" value="msc">Masters</option>
                  <option class="option-item" value="phd">Doctorate</option>
                  <option class="option-item" value="na">Not In List</option>
                </select>
              </div>
              <div class="form-group">
                <label for="location">Location</label>
                <select class="form-control form-select" name="location" id="location">
                  <% location.lagos.forEach(loc=> {%>
                  <option class="option-item" value="<%= loc.value %>" selected><%= loc.display.toUpperCase() %></option>
                  <%})%>
                </select>
              </div>
            <button type="submit" class="btn background-color-orange text-white">Register</button>
          </form>
          <div class="pt-3">
            <p class="pb-4"><small >You already have an account?</small></p>
            <div class="container">

              <div class="row">
                <a class="pr-3 text-orange" href="/login">Login</a>
            
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
